@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

body{
  margin: 0;
  padding: 0;

  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%) !important;
}


.containerForm{
  -webkit-box-shadow: -11px 10px 30px -4px rgba(0,0,0,0.48);
  -moz-box-shadow: -11px 10px 30px -4px rgba(0,0,0,0.48);
  box-shadow: -11px 10px 30px -4px rgba(0,0,0,0.48);
  /* display: flex; */
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;

  min-height: 240px;

  padding-top:10px;
}


.containerForm form p{
  color: rgb(129, 129, 129);
  position: relative;
 text-align: center;
}

.containerForm form a{
 text-decoration: none;
}
.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 500px;
}

.sucesso{
  color: #43e97b !important;
}

.fracasso{
  color: #ff6b6b !important;
}

.container h3{
  color: rgb(255, 255, 255);
  position: relative;
 text-align: center;

 font-weight: 400;

 font-size: 46px !important;
 font-family: 'Dancing Script', cursive;
}
